@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sarasa Gothic SC';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sarasa-gothic-sc-regular.ttf') format('truetype'),
    url('../fonts/sarasa-gothic-sc-regular.woff') format('woff');
}

.resizable {
  background-image: url(../images/handle.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

html,
body {
  font-family: 'Sarasa Gothic SC', Fallback, sans-serif;
  color: theme('colors.white');
  height: 100%;

  .settings {
    height: 100vh;
  }
}
